body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-left: 25px;
    margin-bottom: 5px;
  }
  
  input,
  textarea,
  button {
    width: 90%;
    padding: 8px;
    margin-left: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  
  button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: green;
  }
  